$tablet: 900px;
$mobile: 500px;
$wrap: 960px;

$primary-color: #023247;
$secondary-color: #31ffcf;
$bg-color: #ededff;

@mixin media($width) {
  @media (max-width: $width) {
    @content;
  }
}

.admin_{
  display: flex;

  .navbarAdmin{
    background-color: $primary-color;
    position: sticky;
    top: 0;
    left: 0;
    width: 300px;
    padding: 30px;
    height: 100vh;
    .nav{
      .nav-item{
        a{
          text-decoration: none;
        }
      }
    }
  }
}